<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/signup.css" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <title>SIGNUP</title>
  </head>
  <body>
    <div class="main">
      <h1 class="title">New Account</h1>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="alert-danger">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}

      <form action="" method="post" class="form">
        <div class="info">
          <input name="name" type="text" placeholder="Name" />
        </div>
        <div class="info">
          <input name="email" type="email" placeholder="Email" />
        </div>
        <div class="info">
          <input name="password1" type="password" placeholder="Password" />
        </div>
        <div class="info">
          <input
            name="password2"
            type="password"
            placeholder="Password Confirmation"
          />
        </div>
        <div class="send-info">
          <button type="submit" class="signup">Sign Up</button>
          <a href="{{ url_for('login') }}" class="login"
            >Login
            <i class="bi bi-pencil-square"></i>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
