<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/groups-base.css" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>GROUP</title>
  </head>
  <body>
    <div class="all-content">
      <header>
        <span class="return"><i class="bi bi-caret-left-fill"></i></span>
        <div class="header-items">
          <div class="left">
            <span class="room_name">Group</span>
          </div>
        </div>
      </header>

      <!-- フラッシュメッセージがある時にアラートを表示する -->
      {% with messages = get_flashed_messages() %} {% for message in
      get_flashed_messages() %}
      <input type="hidden" id="flashMessage" value="{{message}}" />
      {% endfor %} {% endwith %}

      <div class="container">
        <div class="sidebar">
          <div class="friends-list">
            {% if channels|length > 0 %} {% for channels in channels %}
            <a class="test-friend" href="/group/{{ channels.id }}"
              ><span class="test-friend-moji"
                >{{ channels.channel_name }}</span
              ></a
            >
            {% endfor %} {% else %}
            <div></div>
            {% endif %}
          </div>
          <div class="friends-content">
            <button id="add-group" class="plus-friend">
              <i class="bi bi-people-fill people"></i>
            </button>
            <button id="request-friends" class="request-friends">
              フレンド申請一覧
            </button>
          </div>
        </div>
        <div class="content">
          <div class="talk">
            <div class="select-friends">
              {% if channels|length > 0 %}
              <i class="bi-arrow-up-left-square" id="selecticon1"></i>
              <h2>グループを選ぼう</h2>
              {% else %}
              <i class="bi-arrow-down-left-square" id="selecticon2"></i>
              <h2>グループを作ろう</h2>
              {% endif %}
            </div>
          </div>
          <div class="note"></div>
        </div>
      </div>

      <footer>
        <a class="exit" href="{{ url_for('logout') }}"
          ><i class="bi bi-box-arrow-left"></i
        ></a>

        <span class="room_kinds">
          <a href="{{ url_for('home') }}" class="bi bi-person-fill"></a>
          <a href="{{ url_for('group') }}" class="bi bi-people-fill"></a>
          <a
            href="{{ url_for('public') }}"
            class="bi bi-globe-asia-australia"
          ></a>
        </span>
      </footer>
    </div>

    <!-- グループ作成モーダル -->
    <div id="group-modal" class="group-modal">
      <div class="group-create">
        <div id="add-group" class="add-group">
          <div class="group-modal-header">
            <i class="bi bi-people-fill add-people add-people-head"></i>
            <h2 class="add-people-head">グループ作成</h2>
          </div>
          <!--入力にエラーがあった時は下にメッセージを表示する-->
          <div class="input-check-message" id="input-check-message"></div>
          <div class="create-container">
            <form class="group-name" action="/group_create" method="POST">
              <input class="input-name" type="text" placeholder="Group Name"
              id="input-group-name" name="channelTitle">
              <input
                type="text"
                class="input-name"
                placeholder="Group Description"
                name="channelDescription"
              />
              <div class="friend-list">
                {% for friend in friend_list %}
                <div class="friend-check">
                  <input type="checkbox" name="friends" value="{{friend.id}}" />
                  <label>{{friend.name}}</label>
                </div>
                {% endfor %}
              </div>
              <button
                type="submit"
                class="create-button"
                onclick="return checkForm();"
              >
                作成
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="request-modal" class="request-modal">
      <div id="accept-group" class="accept-group">
        <div><i class="bi bi-person-fill request-person"></i></div>
        <h2>フレンド申請一覧</h2>
        <div class="request-container">
          <div id="request-result"></div>
          <div class="friend-request">
            <select
              name="request-all"
              class="friend-all"
              id="friend-request"
              size="999"
            ></select>
            <div class="all-button" id="all-button" style="display: none">
              <button type="submit" class="accept-button" id="accept-button">
                承認
              </button>
              <button type="submit" class="deny-button" id="deny-button">
                拒否
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/add-group.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/accept-friend.js')}}"
    ></script>
    <!-- <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/sendMassageJs/send-talk-massage.js')}}"
    ></script> -->
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='jS/flaskMessage.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/group-input-check.js')}}"
    ></script>
  </body>
</html>
