<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/groups.css" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>GROUP</title>
  </head>
  <body>
    <div class="all-content">
      <!-- ヘッダー部 -->
      <header>
        <span class="return"
          ><a href="{{ url_for('group') }}" class="bi bi-caret-left-fill"></a
        ></span>
        <div class="header-items">
          <div class="left">
            <span class="room_name">{{ channel.channel_name }}</span>
            <span>
              <button
                class="edit-button bi bi-pen"
                id="edit-channel-button"
              ></button>
              <button
                class="delete-button bi bi-trash3"
                id="delete-channel-button"
              ></button>
              {% include 'modal/delete-channel.html' %}
            </span>
          </div>
          <div class="right">
            <input
              class="search"
              id="search_word"
              type="text"
              placeholder="search"
              value=""
            />
            <button id="button_search">
              <i class="bi bi-search"></i>
            </button>
            <button id="delete_search">
              <i class="bi bi-x"></i>
            </button>
          </div>
        </div>
      </header>

      <!-- チャンネル編集用モーダル-->
      <div id="edit-modal" class="edit-modal">
        <div class="edit-public-modal">
          <div class="edit-public">
            <div class="edit-modal-header">
              <i class="bi bi-people-fill edit-icon"></i>
              <h2>チャンネル修正</h2>
            </div>
            <div class="edit-container">
              <form
                id="edit-name"
                class="edit-name"
                action="/update_channel_group"
                method="POST"
              >
                <input
                  type="hidden"
                  name="channel_id"
                  value="{{ channel.id }}"
                />
                <input
                  name="editName"
                  class="edit-public-name"
                  value="{{channel.channel_name}}"
                  type="text"
                  placeholder="Channel Name"
                />
                <textarea
                  name="editDescription"
                  class="edit-description"
                  type="text"
                  placeholder="チャンネルの説明を記入"
                >
{{channel.abstract}}
            </textarea
                >
                <button type="submit" class="public-edit-button">修正</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- フラッシュメッセージがある時にアラートを表示する -->
      {% with messages = get_flashed_messages() %} {% for message in
      get_flashed_messages() %}
      <input type="hidden" id="flashMessage" value="{{message}}" />
      {% endfor %} {% endwith %}

      <!-- サイドバー部-->
      <div class="container">
        <div class="sidebar">
          <!-- グループ一覧部分-->
          <div class="friends-list">
            {% if channels|length > 0 %} {% for channels in channels %}
            <a class="test-friend" href="/group/{{ channels.id }}"
              ><span class="test-friend-moji"
                >{{ channels.channel_name }}</span
              ></a
            >
            {% endfor %} {% else %}
            <div></div>
            {% endif %}
          </div>
          <div class="friends-content">
            <button id="add-group" class="plus-friend">
              <i class="bi bi-people-fill people"></i>
            </button>
            <button id="request-friends" class="request-friends">
              フレンド申請一覧
            </button>
          </div>
        </div>
        <div class="content">
          <div class="talk">
            <div class="message-area" id="message-area">
              <div class="messages">
                {% if messages|length > 0 %} {% for message in messages %} {% if
                message.user_id == user_id %}
                <div class="my-messages">
                  <p class="box box-right">{{ message.content }}</p>
                  <form
                    action="/delete_message"
                    method="POST"
                    class="delete-bottom"
                  >
                    <input
                      type="hidden"
                      value="{{ channel.id }}"
                      name="channel_id"
                    />
                    <button
                      class="bi bi-trash3"
                      name="message_id"
                      value="{{ message.id }}"
                    >
                      <ion-icon
                        name="trash-bin-outline"
                        style="color: #122543"
                      ></ion-icon>
                    </button>
                  </form>
                  <form
                    action="/post_message"
                    method="POST"
                    class="delete-bottom"
                  >
                    <input
                      type="hidden"
                      value="{{ message.content }}"
                      name="message"
                    />
                    <input
                      type="hidden"
                      value="{{ channel.id }}"
                      name="channel_id"
                    />
                    <input type="hidden" value="1" name="message_type" />
                    <button
                      class="bi bi-book-half"
                      name="message_id"
                      value="{{ message.id }}"
                    >
                      <ion-icon
                        name="trash-bin-outline"
                        style="color: #122543"
                      ></ion-icon>
                    </button>
                  </form>
                </div>
                {% else %}
                <div class="messages">
                  <p class="user-name">{{ message.user_name }}</p>
                  <div>
                    <p class="box box-left">{{ message.content }}</p>
                    <form
                      action="/post_message"
                      method="POST"
                      class="delete-bottom"
                    >
                      <input
                        type="hidden"
                        value="{{ message.content }}"
                        name="message"
                      />
                      <input
                        type="hidden"
                        value="{{ channel.id }}"
                        name="channel_id"
                      />
                      <input type="hidden" value="1" name="message_type" />
                      <button
                        class="bi bi-book-half"
                        name="message_id"
                        value="{{ message.id }}"
                      >
                        <ion-icon
                          name="trash-bin-outline"
                          style="color: #122543"
                        ></ion-icon>
                      </button>
                    </form>
                  </div>
                </div>
                {% endif %} {% endfor %} {% else %}
                <div id="no-message"><p>まだメッセージがありません</p></div>
                {% endif %}
              </div>
            </div>
            <div class="input-area">
              <form
                action="/post_message"
                method="POST"
                class="input-area-form"
              >
                <textarea
                  type="text"
                  name="message"
                  class="talk-input"
                  wrap="soft"
                ></textarea>
                <input
                  type="hidden"
                  value="{{ channel.id }}"
                  name="channel_id"
                />
                <input type="hidden" value="0" name="message_type" />
                <button class="send-button">
                  <i class="bi bi-send-fill"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="note">
            <div class="note-area" id="note-area">
              <div class="notes">
                {% if notes|length > 0 %}{% for note in notes %}{% if
                note.user_id == user_id %}
                <div class="my-note">
                  <p class="my-note-detail">{{ note.content }}</p>
                  <form
                    action="/delete_message"
                    method="POST"
                    class="delete-bottom"
                  >
                    <input
                      type="hidden"
                      value="{{ channel.id }}"
                      name="channel_id"
                    />
                    <button
                      class="bi bi-trash3"
                      name="message_id"
                      value="{{ note.id }}"
                    >
                      <ion-icon
                        name="trash-bin-outline"
                        style="color: #122543"
                      ></ion-icon>
                    </button>
                  </form>
                </div>
                {% else %}
                <div class="your-note">
                  <p class="user-name">{{ note.user_name }}</p>
                  <p class="my-note-detail">{{ note.content }}</p>
                </div>
                {% endif %} {% endfor %} {% else %}
                <div id="no-note"><p>まだノートがありません</p></div>
                {% endif %}
              </div>
            </div>
            <div class="input-area">
              <form
                action="/post_message"
                method="POST"
                class="input-area-form"
              >
                <textarea
                  type="text"
                  name="message"
                  class="talk-input"
                  wrap="soft"
                ></textarea>
                <input
                  type="hidden"
                  value="{{ channel.id }}"
                  name="channel_id"
                />
                <input type="hidden" value="1" name="message_type" />
                <button class="send-button">
                  <i class="bi bi-send-fill"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <a class="exit" href="{{ url_for('login') }}"
          ><i class="bi bi-box-arrow-left"></i
        ></a>

        <span class="room_kinds">
          <a href="{{ url_for('home') }}" class="bi bi-person-fill"></a>
          <a href="{{ url_for('group') }}" class="bi bi-people-fill"></a>
          <a
            href="{{ url_for('public') }}"
            class="bi bi-globe-asia-australia"
          ></a>
        </span>
      </footer>
    </div>

    <!-- グループ作成モーダル -->
    <div id="group-modal" class="group-modal">
      <div class="group-create">
        <div id="add-group" class="add-group">
          <div class="group-modal-header">
            <i class="bi bi-people-fill add-people add-people-head"></i>
            <h2 class="add-people-head">グループ作成</h2>
          </div>
          <!--入力にエラーがあった時は下にメッセージを表示する-->
          <div class="input-check-message" id="input-check-message"></div>
          <div class="create-container">
            <form class="group-name" action="/group_create" method="POST">
              <input class="input-name" type="text" placeholder="Group Name"
              id="input-group-name" name="channelTitle"">
              <input
                type="text"
                class="input-name"
                placeholder="Group Description"
                name="channelDescription"
              />
              <div class="friend-list">
                {% for friend in friend_list %}
                <div class="friend-check">
                  <input type="checkbox" name="friends" value="{{friend.id}}" />
                  <label>{{friend.name}}</label>
                </div>
                {% endfor %}
              </div>
              <button
                type="submit"
                class="create-button"
                onclick="return checkForm();"
              >
                作成
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="request-modal" class="request-modal">
      <div id="accept-group" class="accept-group">
        <div><i class="bi bi-person-fill request-person"></i></div>
        <h2>フレンド申請一覧</h2>
        <div class="request-container">
          <div id="request-result"></div>
          <div class="friend-request">
            <select
              name="request-all"
              class="friend-all"
              id="friend-request"
              size="999"
            ></select>
            <div class="all-button" id="all-button" style="display: none">
              <button type="submit" class="accept-button" id="accept-button">
                承認
              </button>
              <button type="submit" class="deny-button" id="deny-button">
                拒否
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      // prettier-ignore
      const user_id = JSON.parse('{{ user_id|tojson }}');
    </script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/add-group.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/accept-friend.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/search.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/scroll-message.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/Channels/delete-channel.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/group-input-check.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/flaskMessage.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/edit-group.js')}}"
    ></script>
  </body>
</html>
