<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/home-base.css" />
    <link rel="stylesheet" href="../../static/css/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>HOME</title>
  </head>
  <body>
    <div class="all-content">
      <header>
        <span class="return"><i class="bi bi-caret-left-fill"></i></span>
        <div class="header-items">
          <div class="left">
            <span class="room_name">Friends</span>
          </div>

          <!-- フラッシュメッセージがある時にアラートを表示する -->
          {% with messages = get_flashed_messages() %} {% for message in
          get_flashed_messages() %}
          <input type="hidden" id="flashMessage" value="{{message}}" />
          {% endfor %} {% endwith %}
          <div class="right"></div>
        </div>
      </header>

      <div class="container">
        <div class="sidebar">
          <div class="friends-list">
            {% if channels|length > 0 %} {% for channels in channels %}
            <a class="test-friend" href="/friend/{{ channels.id }}"
              ><span class="test-friend-moji" id="friend-name{{loop.index0}}"
                >{{ channels.channel_name }}</span
              ></a
            >
            {% endfor %} {% else %}
            <div></div>
            {% endif %}
            <input
              type="hidden"
              name="friend_volume"
              value="{{channels | length}}"
              id="friend_volume"
            />
          </div>
          <div class="friends-content">
            <button id="open-modal" class="plus-friend">
              <i class="bi bi-person-fill-add"></i>
            </button>
            <button id="request-friends" class="request-friends">
              フレンド申請一覧
            </button>
          </div>
        </div>

        <div class="content">
          <div class="talk">
            <div class="select-friends">
              {% if channels|length > 0 %}
              <i class="bi-arrow-up-left-square" id="selecticon1"></i>
              <h2>友達を選ぼう</h2>
              {% else %}
              <i class="bi-arrow-down-left-square" id="selecticon2"></i>
              <h2>友達を作ろう</h2>
              {% endif %}
            </div>
          </div>
          <div class="note"></div>
        </div>
      </div>

      <footer>
        <a class="exit" href="{{ url_for('logout') }}"
          ><i class="bi bi-box-arrow-left"></i
        ></a>

        <span class="room_kinds">
          <a href="{{ url_for('home') }}" class="bi bi-person-fill"></a>
          <a href="{{ url_for('group') }}" class="bi bi-people-fill"></a>
          <a
            href="{{ url_for('public') }}"
            class="bi bi-globe-asia-australia"
          ></a>
        </span>
      </footer>
    </div>

    <!-- フレンド検索 -->
    <div id="add-modal" class="add-modal">
      <div id="add-friend" class="add-friend">
        <div><i class="bi bi-person-fill-add add-person"></i></div>
        <h2>フレンド申請</h2>
        <div class="add-container">
          <div class="friend-search">
            <form name="friend-search-form" id="friend-search-form">
              <input
                id="input-email"
                class="input-email"
                type="email"
                placeholder="Email"
                name="email"
              />
              <button type="submit" class="search-button" id="friend-serach">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div>
          <!-- フレンド申請 -->
          <div id="searched-user"></div>
          <button
            id="friend-request-button"
            type="submit"
            style="display: none"
          >
            申請
          </button>
        </div>
      </div>
    </div>

    <!-- フレンド申請一覧 -->
    <div id="request-modal" class="request-modal">
      <div id="accept-group" class="accept-group">
        <div><i class="bi bi-person-fill request-person"></i></div>
        <h2>フレンド申請一覧</h2>
        <div class="request-container">
          <div id="request-result"></div>
          <div class="friend-request">
            <select
              name="request-all"
              class="friend-all"
              id="friend-request"
              size="999"
            ></select>
            <div class="all-button" id="all-button" style="display: none">
              <button type="submit" class="accept-button" id="accept-button">
                承認
              </button>
              <button type="submit" class="deny-button" id="deny-button">
                拒否
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      const user_name = {{ user_name|tojson }};
    </script>

    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/add-friend.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/modalJS/accept-friend.js')}}"
    ></script>
    <!-- <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/sendMassageJs/send-talk-massage.js')}}"
    ></script> -->
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/flaskMessage.js')}}"
    ></script>
    <script
      type="text/javascript"
      async
      src="{{url_for('static',filename='js/friendNameChange.js')}}"
    ></script>
  </body>
</html>
