<div id="delete-channel-modal" class="delete-public-modal">
  <div class="delete-public-content">
    <h1>チャンネル削除</h1>
    <div class="delete-public-container">
      <div class="delete-modal-body">
        <p>本当に消えます。</p>
        <p>よろしいですか？</p>
        <form action="/delete_channel" method="POST" id="delete-channel-bottom">
          <input type="hidden" value="{{ channel.id }}" name="channel_id" />
          <input type="hidden" value="1" name="type" />
          <button type="submit" class="delete-channel-confirmation-button">
            削除
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
