.delete-public-modal{
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0;
    background: rgba(0, 0, 0, 0);
}

.delete-public-content{
    position: fixed;
    z-index: 99;
    left: 37%;
    top: 25%;
    height: 45%;
    width: 25%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.adelete-public-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;

}

.delete-modal-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.delete-modal-body p{
    font-size: 20px;
    margin: 10px;
}

.delete-confirmation-link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-channel-confirmation-button{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: darkred;
    border: 1px solid white;
    cursor: pointer;
}

